@import "../../../variables.scss";

.r-button{
  font-weight: 600;
  border: 0;
  border-radius: 3em !important;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: .5rem 1rem !important;
}
.r-button--primary {
  color: #fff;
  background-color: $accent;
}

.r-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.r-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.r-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.r-button--large {
  font-size: 16px;
  padding: 12px 24px;
}